<div class="container">
    <div class="row center">
        <h3 class="header">New Customer Message from <strong>{{data.first_name}} {{data.last_name}}</strong></h3>
    </div>
    <div class="row">
        <p class="flow-text">Email: <strong>{{data.email}}</strong></p>
        <p class="flow-text">Prior Customer? <strong>{{data.prior_customer}}</strong></p>
        <p class="flow-text">Reason: <strong>{{data.reason}}</strong></p>
        <p class="flow-text">Customer Comments: <strong>{{data.narrative}}</strong></p>
    </div>

</div>